#uvi{
    width: 15px;
    color:aliceblue
}

form {
    font-size: xx-large;
    font-weight: 900;
    background-color: #a9a9a98a
}

.col-8 {
    background : #9fcdf3;

}


#the-city {
    font-size: xx-large;
    font-weight: 900;
}

#search {
    width: 475px;;
}

#recent-search {

 background : #9fcdf3;

}
  


